.header {
    margin-left: 10px;
    margin-right: 10px;
}

a {
    color: purple;
}

.button,
button {
    border-radius: 8px;
    background-color: purple;
    color: white;
    border-color: white;
    margin-top: 5px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}



button:hover {
    background-color: rgb(224, 140, 224);
  }

#greetingdiv {
    margin-top: 40px;
}

#resultsdiv {
    padding-top: 20px;
    text-align: right;
}
#winnerdiv {
    display: none;
    padding: 20px;
}

#highscorediv {
    padding-top: 40px;
}

li {
    list-style: square;
    margin: 2px;
    margin-top: 10px;
    background-color: rgb(223, 192, 248);
    color: black;
}