.header {
    margin-left: 10px;
    margin-right: 10px;
}

a {
    color: purple;
}

.button,
button {
    border-radius: 8px;
    background-color: purple;
    color: white;
    border-color: white;
    /* margin-top: 5px; */
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}



button:hover {
    background-color: rgb(224, 140, 224);
  }

#greeting {
    margin-top: 40px;
}
